body {
	background-color: #2E3440;
	font-family: 'Inconsolata', sans-serif;
	font-size: 13px;
	color: #D8DEE9;
}

#container {
	margin: auto;
	max-width: 400px;
}

.title {
	padding-top: 40px;
	font-size: 30px;
	text-align: center;
	font-weight: 700;
	margin: 0;
}

a {
	color: #D8DEE9;
	text-decoration: none;
}

#searchInput {
	background-position: 10px 12px;
	background-repeat: no-repeat;
	width: 100%;
	font-size: 15px;
	text-align: center;
	padding: 12px 20px 12px 40px;
	border: 0px solid #4C566A;
	box-sizing: border-box;
	background-color: #2E3440;
	color: #D8DEE9;
}

#searchOL {
	list-style-type: none;
	padding: 0;
	margin: 0;
	max-height: 300px;
	overflow: auto;
}

#searchOL li a {
	border: 0px solid #4C566A;
	margin-top: -1px;
	background-color: #2E3440;
	padding: 12px;
	text-decoration: none;
	font-size: 17px;
	display: block;
	color: #D8DEE9;
}

#searchOL li a:hover:not(.header) {
	background-color: #4C566A;
}

@media only screen and (max-width:640px) {
	#buttons {
		text-align: center;
	}
}

#input {
	text-align: center;
}

::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 10px;
  border: transparent;
}

::placeholder {
  color: #D8DEE9;
  font-family: 'Inconsolata';
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #2E3440;
	background-color: rgba(0, 0, 0, 0.4);
	text-align: left;
}

.modal-content {
	background-color: #2E3440;
	font-size: 18px;
	margin: auto;
	padding: 20px;
	border: 0px solid #2E3440;
	width: 30%;
}

.close {
	color: #D8DEE9;
	float: right;
	font-size: 16px;
	font-weight: 400;
}

.close:focus, .close:hover {
	color: #D8DEE9;
	text-decoration: none;
	cursor: pointer;
}