body {
	background-color: #1D1E22;
	font-size: 14px;
	font-family: 'Arial', sans-serif;
	color: #FEDA6A;
}

#container {
	margin: auto;
	max-width: 600px;
}

#titleLabel {
	font-weight: 400;
}

table {
	border-collapse: collapse;
	margin: 15px 0;
	border-radius: 0px;
	overflow: hidden;
	width: 100%;
}

td, th {
	border: 0 solid #2E3440;
	text-align: left;
	padding: 10px 5px;
}

td img {
	text-align: right;
}

.titlemain {
	font-size: 18px;
	padding: 10px 0;
	text-align: center;
}

#public, #secret {
	font-family: Verdana;
	font-size: 14px;
	font-weight: 700;
}

#public {
	text-align: left;
	color: #FEDA6A;
}

#secret {
	text-align: right;
	color: #FEDA6A;
}

#public_qr, #secret_qr {
	height: 130px;
}

.secret_qr img {
	float: right;
}

#secret, #secretLabel, #secret_qr {
	text-align: right;
	float: right;
}

#secretLabel {
	float: right;
}

#shareColor {
	color: green;
}

#secretColor {
	color: red;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.buttons {
  background-color: #FEDA6A;
  border: none;
  color: #1D1E22;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
 }

@media only screen and (max-width:640px) {
	#public, #secret {
		font-size: 10px;
	}
}

@media print {
	.noprint {
		display: none;
	}
}